<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FinreachUIAutomationSuite" parallel="methods" thread-count="1">
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.finreach.tests.WebTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
